body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: #DD7609;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}
header h1{
	color: whitesmoke;
	font-size: 50px;

}
h1, h2{
	font-family: 'Corinthia', cursive;
}
header img{
	border-radius:  160px; 
	width: 300px;
	border: 10px solid whitesmoke;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
main img{
	max-width: 100%;

}

h2{
	font-size: 30px;
	color: #DD7609;

}

footer{
	background-color: #DD7609;
	text-align: center;
	color: whitesmoke;
	padding: 50px;
}

footer p{
	margin: 0;
}
.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}


